
<h1>War Web - GSCDL</h1>

<table>
	<tr>
	<td border="red"><td>Carta jugador A: <%= @cartasA %></td>
	</td>
	</tr>
	<tr>
	<td border="blue"><td>Carta jugador B: <%= @cartasB %></td></td>
	</tr>
<table>

<form method="post" action="/JugadorA">
	<input type="submit" value="jugador A"/>	
</form>
<form method="post" action="/JugadorB">
	<input type="submit" value="jugador B"/>	
</form>

<table>
	<tr>
	<td style="color:red">JUGADOR A</td>
	<td>cartasA</td>
	</tr>
	<tr>
	<td style="color:blue">JUGADOR B</td>
	<td>cartasB</td>
	</tr>
<table>

