
<h1>War Web
</h1>
<form method="post" action="/JugadorA">
	<input type="submit" value="jugador A"/>	
</form>
<form method="post" action="/JugadorB">
	<input type="submit" value="jugador B"/>	
</form>
